
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/MyLay.cshtml";
}

<style>
    body {
        background-color: coral;
    }
</style>

<h2>Admin Dashboard</h2>

<a href="/Index/AdminHistory"> History </a>
<a href="/Index/RestaurantAdmin"> Restaurants </a>
<a href="/Index/EmployeeAdmin"> Employees </a>
<a href="/Index/Login"> Logout</a>
<br />
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Preserve</th>
        <th>Status</th>
        <th>Assigned to</th>
        <th>Resturant ID</th>
        <td><a href="RestaurantEdit" class="btn btn-info">Edit</a></td>


    </tr>
    @foreach (var or in Model)
    {
        if (or.status == "Pickup Requested")
        {

            <tr>
                <td>@or.id</td>
                <td>@or.restaurant_id</td>
                <td>@or.name</td>
                <td>@or.quantity</td>
                <td>@or.preserve</td>
                <td>@or.status</td>
                <td>@or.assign</td>
                <td><a href="RestaurantEdit" class="btn btn-info">Edit</a></td>

            </tr>
        }
    }

</table>
