
@{
    ViewBag.Title = "Reg";
}

@if (@TempData["msg"] != null)
{
    <span class="alert alert-info">@TempData["msg"]</span>
}

<!--<table class="table table-bordered">
    @foreach (var st in Model)
    {
    <tr>
        <td>@st.id</td>
        <td>@st.name</td>
        <td>@st.contact</td>
        <td>@st.address</td>
        <td>@st.email</td>
        <td>@st.password</td>
        <td>@st.type</td>
    </tr>
    }

</table> -->
<a href="/Index/Registration">Go to Registration Page</a>
<br />
<a href="/Index/Login">Go to Login Page</a>

